/*
 * A keybinding set for the user implementing Vi(m)-like keybindings in
 * a manner similar to bash's vi mode  - instead of the default or Emacs-like
 * keybindings otherwise available - for use inside Gtk applications.
 */

/*
 * Bindings for GtkTextView and GtkEntry
 */
@binding-set gtk-emacs-text-entry
{
  bind "<ctrl>u" { "move-cursor" (paragraph-ends, -1, 0)
                   "delete-from-cursor" (paragraph-ends, 1) };

  bind "<ctrl>h" { "delete-from-cursor" (chars, -1) };
  bind "<ctrl>w" { "delete-from-cursor" (word-ends, -1) };
  bind "<alt>h" { "move-cursor" (logical-positions, -1, 0) };
  bind "<alt>l" { "move-cursor" (logical-positions, 1, 0) };
  bind "<alt>b" { "move-cursor" (words, -1, 0) };
  bind "<alt>e" { "move-cursor" (words, 1, 0) };
  bind "<alt>0" { "move-cursor" (paragraph-ends, -1, 0) };
  bind "<ctrl>4" { "move-cursor" (paragraph-ends, 1, 0) };
}

/*
 * Bindings for GtkTextView
 */
@binding-set gtk-emacs-text-view
{
  bind "<alt>k" { "move-cursor" (display-lines, -1, 0) };
  bind "<ctrl>u" { "move-cursor" (display-lines, -1, 1) };
  bind "<alt>j" { "move-cursor" (display-lines, 1, 0) };
  bind "<ctrl>d" { "move-cursor" (display-lines, 1, 1) };
}

/*
 * Bindings for GtkTreeView
 */
@binding-set gtk-emacs-tree-view
{
  bind "<alt>l" { "move-cursor" (logical-positions, 1) };
  bind "<alt>h" { "move-cursor" (logical-positions, -1) };
}

/*
 * Bindings for menus
 */
@binding-set gtk-emacs-menu
{
  bind "<alt>j" { "move-current" (next) };
  bind "<alt>k" { "move-current" (prev) };
  bind "<alt>l" { "move-current" (child) };
  bind "<alt>h" { "move-current" (parent) };
}

entry {
  -gtk-key-bindings: gtk-emacs-text-entry;
}

textview {
  -gtk-key-bindings: gtk-emacs-text-entry, gtk-emacs-text-view;
}

treeview {
  -gtk-key-bindings: gtk-emacs-tree-view;
}

GtkMenuShell {
  -gtk-key-bindings: gtk-emacs-menu;
}
